<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <!-- <h4>Bienvenido al curso de Flask</h4> -->
    <div class="container-fluid">
        <br>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="{{ url_for('start') }}">Inicio</a></li>
            <li role="presentation"><a href="{{ url_for('recomm') }}">Top 10</a></li>
            <li role="presentation"><a href="{{ url_for('logout') }}">Salir</a></li>
        </ul>

        <h1 class="">Página de : {{ name }} </h1>
        <!-- <p>{{list}} </p> -->

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Género</th>
                    <th>Desarrollador</th>
                    <th>Clasificación</th>
                    <th>Calificación</th>
                    <th>Actualizar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                <tr>
                    <td>{{ item['_id'] }}</td>
                    <td>{{ item['title'] }}</td>
                    <td>{{ item['genre'] }}</td>
                    <td>{{ item['developer'] }}</td>
                    <td>{{ item['classification'] }}</td>
                    {% if item['rate2'] != '-1' %}
                    <td>{{ item['rate2'] }}</td>
                    {% else %}
                    <td>Sin calificar</td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('start', title=item['title'], cal=1, info=item['rate2']) }}">1</a>
                        <a href="{{ url_for('start', title=item['title'], cal=2, info=item['rate2']) }}">2</a>
                        <a href="{{ url_for('start', title=item['title'], cal=3, info=item['rate2']) }}">3</a>
                        <a href="{{ url_for('start', title=item['title'], cal=4, info=item['rate2']) }}">4</a>
                        <a href="{{ url_for('start', title=item['title'], cal=5, info=item['rate2']) }}">5</a>
                        <!-- <button type="button" class="btn btn-link" onclick="updatecal(1)">1</button>
                        <button type="button" class="btn btn-link" onclick="updatecal(2)">2</button>
                        <button type="button" class="btn btn-link" onclick="updatecal(3)">3</button>
                        <button type="button" class="btn btn-link" onclick="updatecal(4)">4</button>
                        <button type="button" class="btn btn-link" onclick="updatecal(5)">5</button> -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>




    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}">
    </script>
</body>


<html>